*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

@media (max-width: 768px) {
  .App{
    padding: 5px;
  }
  .home{
    /* margin: 10px;
    padding: 20px; */
    
    padding:80px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    border: 10px solid black;
  }.navigation{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    border: 4px solid black;
    padding: 17px;
  }.navigation a{
    margin: 5px;
  }
  .main{
    border: 10px solid #ffff;
    /* width: 100%; */
    width: 200px;
    margin: 20px;
    padding: 20px;
    border-radius: 50px 50px;
    height:129px;
    background-color:rgb(160, 49, 49);
  }footer{
    border: 4px solid black;
    width: 100%;
    /* margin: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }.footer-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 87%;
    height:100px;
    margin: 12px;
    border: 4px solid black;

  }
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
